html, body, #root {
    height: 100%;
    margin: 0;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.contenido {
    flex: 1;
}



@media print {
  .no-print {
    display: none !important;
  }
}